# 博客部署CI/CD
name: blog deploy

# 触发条件：在 push 到 master, md 分支后触发
on:
  push:
    branches: 
      - 'master'

  # 手动触发
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true
      
env:
  TZ: Asia/Shanghai

jobs:
  blog-cicd:
    name: Hexo blog构建和部署
    runs-on: ubuntu-latest # 使用最新的 Ubuntu 系统作为编译部署的环境

    steps:
    - name: 选择分支
      uses: actions/checkout@v4
      with:
        ref: master

    - name: 安装 nodejs
      # 设置 node.js 环境
      uses: actions/setup-node@v6
      with:
        node-version: 24

    - name: 设置包下载缓存
      # 设置包缓存目录，避免每次下载
      uses: actions/cache@v4
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

    - name: 安装 hexo
      # 下载 hexo-cli
      run: |
        npm install -g hexo-cli
        hexo init blog
        cd blog
        # 删除默认的渲染器
        npm un hexo-renderer-marked --save
        # 删除默认主题
        npm un hexo-theme-landscape --save
        ls -lha

    - name: 安装依赖
      run: |
        npm ls --depth 0
        # hexo相关依赖
        npm install hexo-deployer-git hexo-server hexo-util moment-timezone --save
        npm install hexo-generator-archive hexo-generator-category hexo-generator-index hexo-generator-tag hexo-renderer-ejs --save
        # 主题依赖
        npm install hexo-renderer-pug hexo-renderer-stylus --save
        # markdown渲染器
        npm install hexo-renderer-markdown-it --save
        # 公式渲染器
        npm install katex @renbaoshuo/markdown-it-katex --save
        npm ls --depth 0
      # 指定命令执行的工作路径
      working-directory: ./blog

    - name: 处理文件
      run: |
        # 删除文件
        rm -rf blog/source
        rm -rf blog/themes
        rm -rf blog/_config.yml
        pwd
        ls themes/butterfly
        # 复制文件
        cp -r themes blog
        cp -r source blog
        cp -r _config.yml blog
        cp -r _config.butterfly.yml blog
        # 将markdown文档备份, 供用户下载
        # cp -r source/_posts blog/source/md
        ls blog
        ls blog/themes/butterfly
        # ls blog/themes/butterfly/layout

    - name: 生成文件
      continue-on-error: true
      run: |
        hexo clean
        hexo generate
        ls -lha public
        # cat public/index.html
      # 指定命令执行的工作路径
      working-directory: ./blog

    - name: 部署博客
      # 设置环境变量
      env: 
        GITHUB_REPO: github.com/dollarser/dollarser.github.io
        GITHUB_TOKEN: ${{ secrets.MY_TOKEN }}

      # 将编译后的博客文件推送到指定仓库
      run: |
        cd blog/public && git init && git add .

        git config --global user.email "dollarser@126.com"
        git config --global user.name "dollarser"
        # 默认分支名
        git config --global init.defaultBranch "master"
        
        # Make changes to files
        git commit -am "GitHub Actions Auto Builder at $(date +'%Y-%m-%d %H:%M:%S')"
        git push --force --quiet https://$GITHUB_ACTOR:${{ secrets.MY_TOKEN }}@github.com/$GITHUB_REPOSITORY master:gh-pages
        # git push --force --quiet "https://dollarser:${{ secrets.GITEE_ACCESS_TOKEN }}@$GITEE_REPO" master:gh-pages
